html {
  font-size: 14px;
}

*{
	box-sizing: border-box;
	text-align: center;
	color: white
}

@media (max-width: 575px) {
  html {
    font-size: 13px;
  }

}

body {
	position: relative;
	color: #84888a;
	/*  font-family: "Poppins", sans-serif;
	*//*  font-weight: 300;*/
	line-height: 1.5;
	text-align: center;
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

@keyframes arrow{
	to{
		transform: translate(10px);
	}
}

/*    navbar    */
/*---------------------------------*/
#navbar{
	background: linear-gradient(to bottom,#485053 0,#3b4447 100%);
	height: 70px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
}

#navbar .navbar-brand{
	font-size: 17px;
	font-weight: bold;
}

#navbar #navbar-toggle{
	margin-top: -30px !important;
    margin-left: 20px;
}

#navbar #navbar-toggle:focus{
	outline: 0px auto -webkit-focus-ring-color;
}

#navbar #navbar-toggle span{
	margin-bottom: -20px !important;
}

#navbar .d-mobile{
	display: none;
}

#navbar div{
	text-align: center;
	margin: 0 auto;
}

#navbar .dropdown{
	position: relative;
}

#navbar .dropdown-menu{
	position: absolute;
	margin: -2px 0px 0px -35px;
}


#navbar .dropdown-item{
	color: white;
}

#navbar .dropdown-item:hover, #navbar .dropdown-item:focus {
	background-color: #659915
}

#navbar ul li{
	margin: 0px 2.5rem;
	height: 30px;
	padding: 10px;
    line-height: 37px;
    margin: 0px 1.8rem;
    height: 68px;
    transition: 0.2s ease-in-out;
    cursor: default;
}

#navbar ul li:last-child{
	background-color: #659915
}


@media(max-width: 992px){
	#navbar ul li{
		margin: 0px .52rem;
		height: inherit;
	}

	#navbar .dropdown-menu{
		margin: -2px 32px 0px -39px;
	}
}

@media(max-width: 810px){
	#navbar{
		
	}

	#navbar ul li{
		margin: 0px .25rem;
	}
}

@media(max-width: 768px){
	#navbar{
		height: inherit;
	}

	#navbar .d-mobile{
		display: block;
	}

	#navbar .navbar-brand{
		margin: 9px auto;
		padding-top: -10px
	}

	#navbar ul{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		border-top: 1px solid #222
	}

	#navbar div{
		height: inherit;
		margin: -8px auto;

	}

	#navbar ul li:first-child{
		display: none;
	}

	#navbar ul li{
		margin: 0px auto;
		/*padding: -5px;*/
	}
}
/*  end navbar    */
/*---------------------------------*/


/*    navbar    */
/*---------------------------------*/
#header{
	background-color: #1ca05a;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px
}

#header .sub-header{
	color: #eacc3a;
}

@media(max-width: 768px){
	#header{
		font-size: 19px
	}
	#header .sub-header{
		width: 250px;
		margin: 0 auto
	}
}
/*  end navbar    */
/*---------------------------------*/


/*    intro    */
/*---------------------------------*/
#intro{
	display: inline-block;
	text-align: center;
	width: 700px;
	padding: 20px;
	font-size: 38px;
	letter-spacing: 2px;
	color: black;
	font-weight: 700
}

#intro span:nth-child(1){
	color: blue
}

#intro span:nth-child(2){
	color: green
}

#intro span:nth-child(3){
	color: red
}

@media(max-width: 768px){
	#intro{
		font-size: 25px;
		display: block;
		width: 100%
	}
}
/*  end intro    */
/*---------------------------------*/


/*    section-blue    */
/*---------------------------------*/
@media(max-width: 1500px){
	#section-blue{
		background: url(assets/images/section-blue1.png) no-repeat 50%;
		background-size: cover;
		height: 500px;
		width: 100%;
		position: relative;
	}
}

#section-blue .sub-section-blue{
	position: absolute;
	margin: 90px 12%;
}

.sub-section-blue h1{
	font-size: 37px;
	margin-bottom: 20px;
}

.sub-section-blue span:first-child{
	font-size: 18px;
}

.sub-section-blue p{
	text-align: center;
	font-size: 20px;
	display: table-caption;
    width: 400px;
    line-height: 30px
}

.sub-section-blue small{
	display: table-caption;
	opacity: .6;
	font-size: 85%;
}

.sub-section-blue .start-project{
	display: table-caption;
	margin: 40px 0px;
}

.sub-section-blue .start-project span:nth-child(1){
	margin: 20px 25px;
	font-size: 15px;
	border: 1px solid #888;
	padding: 15px;
}

.sub-section-blue .start-project span:nth-child(1):hover{
	background-color: rgb(255,255,255,.1);
	cursor: pointer;
}

.sub-section-blue .start-project a{
	margin: 0px 25px;
}

.sub-section-blue .start-project a:hover i{
	cursor: pointer;
	animation: arrow .8s ease-in-out forwards
}
@media(max-width: 768px){
	#section-blue{
		background: url(assets/images/section-blue2.png) no-repeat 60%;
		background-size: cover;
		display: flex;
		justify-content: center;
	}

	#section-blue .sub-section-blue{
		margin: 90px auto;
	}
}
/*  end section-blue    */
/*---------------------------------*/


/*    section-orange    */
/*---------------------------------*/
@media(max-width: 1500px){
	#section-orange{
		background: url(assets/images/section-orange1.png) no-repeat 50%;
		background-size: cover;
		height: 500px;
		width: 100%;
		position: relative;
	}
}

#section-orange .sub-section-orange{
	position: absolute;
	margin: 90px 12%;
}

.sub-section-orange h1{
	font-size: 37px;
	margin-bottom: 20px;
}

.sub-section-orange span:first-child{
	font-size: 18px;
}

.sub-section-orange p{
	text-align: center;
	font-size: 20px;
	display: table-caption;
    width: 400px;
    line-height: 30px
}

.sub-section-orange small{
	display: table-caption;
	opacity: .6;
	font-size: 85%;
}

.sub-section-orange .start-project{
	display: table-caption;
	margin: 40px 0px;
}

.sub-section-orange .start-project span:nth-child(1){
	margin: 20px 25px;
	font-size: 15px;
	border: 1px solid #ddd;
	padding: 15px;
}

.sub-section-orange .start-project span:nth-child(1):hover{
	background-color: rgb(255,255,255,.1);
	cursor: pointer;
}

.sub-section-orange .start-project a{
	margin: 0px 25px;
}

.sub-section-orange .start-project a:hover i{
	cursor: pointer;
	animation: arrow .8s ease-in-out forwards
}
@media(max-width: 768px){
	#section-orange{
		background: url(assets/images/section-orange2.png) no-repeat 60%;
		background-size: cover;
		display: flex;
		justify-content: center;
	}

	#section-orange .sub-section-orange{
		margin: 90px auto;
	}
}
/*  end section-orange    */
/*---------------------------------*/


/*    section-orange    */
/*---------------------------------*/
@media(max-width: 1500px){
	#section-green{
		background: url(assets/images/section-green1.png) no-repeat 50%;
		background-size: cover;
		height: 500px;
		width: 100%;
		position: relative;
	}
}

#section-green .sub-section-green{
	position: absolute;
	margin: 90px 12%;
}

.sub-section-green h1{
	font-size: 37px;
	margin-bottom: 20px;
}

.sub-section-green span:first-child{
	font-size: 18px;
}

.sub-section-green p{
	text-align: center;
	font-size: 20px;
	display: table-caption;
    width: 400px;
    line-height: 30px
}

.sub-section-green small{
	display: table-caption;
	opacity: .6;
	font-size: 85%;
}

.sub-section-green .start-project{
	display: table-caption;
	margin: 40px 0px;
}

.sub-section-green .start-project span:nth-child(1){
	margin: 20px 25px;
	font-size: 15px;
	border: 1px solid #ddd;
	padding: 15px;
}

.sub-section-green .start-project span:nth-child(1):hover{
	background-color: rgb(255,255,255,.1);
	cursor: pointer;
}

.sub-section-green .start-project a{
	margin: 0px 25px;
}

.sub-section-green .start-project a:hover i{
	cursor: pointer;
	animation: arrow .8s ease-in-out forwards
}
@media(max-width: 768px){
	#section-green{
		background: url(assets/images/section-green2.png) no-repeat 60%;
		background-size: cover;
		display: flex;
		justify-content: center;
	}

	#section-green .sub-section-green{
		margin: 90px auto;
	}
}
/*  end section-orange    */
/*---------------------------------*/


/*   brands   */
/*---------------------------------*/
#brands{
	background: url(assets/images/behind-brands.jpg) no-repeat 20%;
	background-size: cover;
	width: 100%;
	position: relative;
}

#brands p:first-child{
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
	color: black;
	margin: 40px auto
}

#brands small{
	font-size: 13px;
	color: black;
	margin: 40px 25px;
	display: block;
}

#brands .behind-brands{
	background: url(assets/images/brands.png) no-repeat 50%;
	background-size: contain;
	height: 400px;
	width: 70%;
	margin: auto;
}

#brands small:last-child{
	font-size: 13px;
	color: black;
	margin: 0px 20%;
	display: block;
}

#brands .carousel-item span{
	color: blue;
	margin: 0px 2px;
	font-weight: bold;
}

#brands .carousel p{
	color: black;
	margin: 0 26%;
}

@media(max-width: 768px){
	#brands .behind-brands{
		background: url(assets/images/brands2.png) no-repeat 70%;
		background-size: cover;
		margin: auto;
		width: 100%;
		margin: -20px auto;
	}

	#brands .carousel p{
	color: black;
	margin: 0 15%;
	}
}
/*   end brands    */
/*---------------------------------*/


/*   agents   */
/*---------------------------------*/
#agents{
	background-color: #ee3728;
	padding: 25px 0
	/*height: 500px*/
}

#agents h2{
	padding-top: 25px
}

#agents .carousel p{
	margin: 10px auto;
}

#agents .row div, #agents .row p, #agents .row small{
	margin: 0;
	color: #8c2018;
	font-size: 1.1em;
	display: block;
}

#agents .row div:first-child{
	border-right: 1px solid #c82b18;
}

@media(min-width: 769px){
	#agents .row div:nth-child(3){
		border-left: 1px solid #c82b18;
	}	
}

#agents .row i{
	font-size: 27px;
	margin: 15px 2px;
	color: #8c2018 
}

#agents div ~ p{
	font-size: 1.3rem;
}

#agents a:hover i{
	animation: arrow .8s ease-in-out forwards
}

@media(max-width: 768px){
	#agents{
		font-size: 0.8em;
		margin: 0px auto;
	}

	#agents div div{
		padding-bottom: 15px
	}

	#agents div div:nth-child(3){
		margin: 0px auto;
		border-top: 1px solid #c82b18;
	}
}
/*   end agents   */
/*---------------------------------*/


/*   footer   */
/*---------------------------------*/
#footer *{
	color: black;
}

#footer{
	margin: 30px
}

#footer .footer-contact{
	padding: 20px; 
}

#footer a *:hover{
	color: blue
}

@media(max-width: 768px){
	#footer .contact{
		margin: 10px auto;
	}
}
/*   end footer   */
/*---------------------------------*/


/*   chat   */
/*---------------------------------*/
#chat{
	width: 65px;
	height: 60px;
	position: fixed;
	bottom: 10px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,.3),
				-1px -2px 3px 0 rgba(0,0,0,.3);
	margin: 20px auto;
	background-color: white;
	cursor: pointer;
}

#chat i{
	color: #007bff;
	margin: 8px;
	padding: auto;
	font-size: 40px;
	position: relative;
}

#chat:hover .chat-point{
	animation: chat .8s ease-in-out;
	display: block;
}

#chat:hover span:nth-child(1){
	animation: chat .4s ease-in-out .2s alternate infinite
}

#chat:hover span:nth-child(2){
	animation: chat .4s ease-in-out  alternate infinite
}

#chat:hover span:nth-child(3){
	animation: chat .4s ease-in-out .4s alternate infinite
}

#chat:hover  i{
	transform: scale(1.1);
	transition: .2s
}

 #chat span:nth-child(1){
	width: 5px;
	height: 5px;
	color: white;
	position: absolute;
	top: -12px;
	left: 15px;
	display: none;
}
 #chat span:nth-child(2){
	width: 5px;
	height: 5px;
	color: white;
	position: absolute;
	top: -12px;
	left: 5px;
	display: none;
}
 #chat span:nth-child(3){
	width: 5px;
	height: 5px;
	color: white;
	position: absolute;
	top: -12px;
	left: 25px;
	display: none;
}

@keyframes chat{
	to{
		transform: translate(0px, -5px);
	}
}
/*   end chat   */
/*---------------------------------*/

.x{
	background-color: #3f474a
}