html {
  font-size: 15px;
}	

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
/*	color: black*/
}

@media (max-width: 575px) {
  html {
    font-size: 13px !important;
  }

}

body {
	position: relative;
	color: #84888a;
	/*  font-family: "Poppins", sans-serif;*/
	/*  font-weight: 300;*/
	line-height: 1.5;
	text-align: center;
	overflow-x: hidden; 
	list-style-type: none;
	width: 100%
}

@media(max-width: 500px){
	h2{
		font-size: 23px !important
	}
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.line-pre{
	width: 40px;
	height: 4px;
	color: #1dbfaf;
	background-color: #1dbfaf;
	margin: 9px 0;
	-webkit-animation: line 1.3s;
	-moz-animation: line 1.3s;
	-ms-animation: line 1.3s;
	-o-animation: line 1.3s;
	animation: line 1.3s;

}

@media(max-width: 500px){
	.line-pre{
		width: 35px
	}
}

@-webkit-keyframes line {
	from{
		width: 0
	}
	to {
		width: 35px
	}
}
@-moz-keyframes line {
	from{
		width: 0
	}
	to {
		width: 35px
	}
}

@-o-keyframes line {
	from{
		width: 0
	}
	to {
		width: 35px
	}
}
@keyframes line {
	from{
		width: 0
	}
	to {
		width: 35px
	}
}

@-webkit-keyframes arrow{
	to{
		-webkit-transform: translate(10px);
		-moz-transform: translate(10px);
		-ms-transform: translate(10px);
		-o-transform: translate(10px);
		transform: translate(10px);
	}

	to{
		-webkit-transform: translate(10px);
		-moz-transform: translate(10px);
		-ms-transform: translate(10px);
		-o-transform: translate(10px);
		transform: translate(10px);
	}
}
@-moz-keyframes arrow{
	to{
		-webkit-transform: translate(10px);
		-moz-transform: translate(10px);
		-ms-transform: translate(10px);
		-o-transform: translate(10px);
		transform: translate(10px);
	}
}
@-o-keyframes arrow{
	to{
		-webkit-transform: translate(10px);
		-moz-transform: translate(10px);
		-ms-transform: translate(10px);
		-o-transform: translate(10px);
		transform: translate(10px);
	}
}
@keyframes arrow{
	to{
		-webkit-transform: translate(10px);
		-moz-transform: translate(10px);
		-ms-transform: translate(10px);
		-o-transform: translate(10px);
		transform: translate(10px);
	}
}

button:focus{
	outline: none;
}

.col-12{
	flex: 0 0 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
}

/*@media (min-width: 768px){
	#customers .col-md-4 {
		flex: 0 0 28%;
		max-width: 28%;
}*/

/*    navbar    */
/*---------------------------------*/
#navbar{
	background: #fff;
	height: 50px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
	color: #000;
	z-index: 999
}

#navbar .logo{
	width: 30px
}

#navbar .navbar-brand{
	font-size: 17px;
	font-weight: bold;
	color: #2eadd7
}

#navbar #navbar-toggle{
	margin-top: -30px !important;
    margin-left: 20px;
}

#navbar #navbar-toggle:focus{
	outline: 0px auto -webkit-focus-ring-color;
}

#navbar #navbar-toggle span{
	margin-bottom: -20px !important;
}

#navbar .d-mobile{
	display: none;
}

#navbar ul{
	text-align: center;
	margin: 0 auto;
}

#navbar .dropdown{
	position: relative;
}

#navbar .dropdown-menu{
	position: absolute;
	margin: 0px 0px 0px -20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
	min-width: 40px;
	top: 58px;
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	transform: translateY(-200px);
}

#navbar .dropdown:hover .dropdown-menu{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

#navbar .dropdown-menu a:hover{
	color: #1dbfaf
}

#navbar .dropdown-menu a:focus{
	background-color: white !important
}

#navbar .dropdown-item{
	color: #000;
}

#navbar ul li{
	margin: 0px 10px;
	height: 30px;
	padding: 10px;
    line-height: 37px;
    height: 68px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#navbar ul li:hover, #navbar ul li :focus{
	color: #1dbfaf !important;
}

#navbar .btn{
	background-color: #1dbfaf;
	color: #fff
}

#navbar .btn:hover{
	background-color: #fff;
	color: #1dbfaf;
	border: 1px solid #1dbfaf;
}

#navbar .me{
	width: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin: 0 5px;
}

@media(max-width: 1148px){
	#navbar .navbar-brand{
		font-size: 15px
	}

	#navbar ul li{
		margin: 0 0;
		font-size: 0.9rem
	}

	#navbar .dropdown-item{
		font-size: 0.9rem
	}

}

@media(max-width: 991px){
	#navbar{
		height: fit-content;
	}

	.navbar{
		padding: 0
	}

	#navbar .d-mobile{
		display: block;
		margin-right: -25px;
	}

	#navbar .navbar-brand{
		margin: 0 auto;
		font-size: 17px
	}

	#navbar .navbar-collapse{
		margin-bottom: -23px;
		margin-top: -5px
	}

	#navbar ul{
		/*display: flex;*/
		flex-direction: row;

		/*margin: 0 auto -23px auto;*/
		/*border-top: 1px solid #222*/
	}
	#navbar ul li{
		margin: 0px auto;
		height: inherit;
	}

	#navbar .btn{
		font-size: 13px;
		padding: 4px
	}

	#navbar .dropdown-menu{
		margin: -2px 32px 0px -39px;
	}
}

@media(max-width: 810px){
	#navbar{
		
	}

	#navbar ul{
		margin: 0 auto;
	}

	#navbar ul li{
		font-size: 0.8rem
	}
}

/*@media(max-width: 768px){
	#navbar{
		height: fit-content;
		padding: 0
	}

	#navbar .navbar-brand{
		margin: 0px auto;
	}

	#navbar #dropdown-menu1{
		margin: -5px 0px 0 -20px;
	}

	#navbar .navbar-collapse{
		margin-bottom: -10px;
		margin-top: -5px
	}

	#navbar ul{
		margin: 0 auto;
		border-top: 1px solid #222
	}

	#navbar div{
		height: inherit;

	}

	#navbar ul li:nth-child(6), #navbar ul li:nth-child(7) {
		display: none;
	}

	#navbar ul li{
		margin: 0px auto;
	}
}*/
/*------ end navbar ------*/
/*---------------------------------*/


/*    navbar    */
/*---------------------------------*/
#land{
	-webkit-background: linear-gradient(to right, #242d33, #30bcad);
	-moz-background: linear-gradient(to right, #242d33, #30bcad);
	-ms-background: linear-gradient(to right, #242d33, #30bcad);
	-o-background: linear-gradient(to right, #242d33, #30bcad);
	background: linear-gradient(to right, #242d33, #30bcad);
	height: 450px;
	overflow: hidden;
}

#land h3, #land h6{
	color: white;
	text-align: left;
	margin: 20px
}

#land .land-bg{
	-webkit-background: linear-gradient(to right, #242f33, #28a89a);
	-moz-background: linear-gradient(to right, #242f33, #28a89a);
	-ms-background: linear-gradient(to right, #242f33, #28a89a);
	-o-background: linear-gradient(to right, #242f33, #28a89a);
	background: linear-gradient(to right, #242f33, #28a89a);
	width: 110%;
	-webkit-filter: brightness(125%);
	-moz-filter: brightness(125%);
	-ms-filter: brightness(125%);
	-o-filter: brightness(125%);
	filter: brightness(125%);
	margin-top: -20px;
	margin-left: -20px;
	z-index: 1;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
	height: auto;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	height: 400px
}

#land .container{
	max-width: 600px;
	padding-top: 30px
}

#land .container{
	-webkit-transform: rotate(4deg); 
	-moz-transform: rotate(4deg); 
	-ms-transform: rotate(4deg); 
	-o-transform: rotate(4deg); 
	transform: rotate(4deg); 
	z-index: 9999999; 
	margin-top: 30px;color: white
}

#land .container .line-separator{
	height: 3px;
	width: 60px;
	color: #000;
	background-color: #1dbfaf;
	text-align: center;
	margin: 25px auto;
}

#land .container .doc-nav button{
	padding: 15px 45px;
	border: 1px solid #429a92;
	background-color: transparent;
	color: white;
	font-size: 18px;
	font-weight: normal;
	margin: -3px;
}

#land .container .doc-nav .active{
	background-color: #17aa9d
}

#land .container .doc-nav button:hover{
	background-color: #17aa9d;
}

#land .land-bottom{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
/*	font-weight: bold;*/
	color: white;
	font-size: 14px;
	margin: 30px 20px;
}

@media(max-width: 768px){
	#land{
		font-size: 0.9rem;
		height: 590px
	}

	#land .land-bg{
		height: 500px
	}

	#land .container{
		max-width: 500px
	}

	#land .container .doc-nav{
		display: flex;
		flex-direction: column;
		max-width: 300px;
		margin: 0 auto;
	}

	#land .container .doc-nav button{
		margin: 0;
	}
}

@media(max-width: 576px){
	#land{
		height: 540px
	}
}

@media(max-width: 500px){
	#land h5{
		font-size: 0.9rem;
		font-weight: bold
	}

	#land .container{
		max-width: 400px
	}
}
/*------ end navbar ------*/
/*---------------------------------*/


/*    navbar    */
/*---------------------------------*/
#doc-types{
	background-color: #f4f4f4;
}

#doc-types .contain{
	margin: 0 10px;
	padding: 0px !important
}

#doc-types .docs{
	margin: 20px auto;
}

#doc-types .doc-hd{
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
	color: black;
	font-weight: bold;
}

#doc-types img{
	width: 300px; 
	height: 400px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.3),
				2px 0px 3px 0 rgba(0,0,0,.3);
	/*position: relative;*/
	/*transform-style: preserve-3d;*/
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.fa-search-plus:hover{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#doc-types img:hover{
	cursor: pointer;
	-webkit-filter: brightness(112%);
	-moz-filter: brightness(112%);
	-ms-filter: brightness(112%);
	-o-filter: brightness(112%);
	filter: brightness(112%);
	-webkit-transform: rotateX(12deg);
	-moz-transform: rotateX(12deg);
	-ms-transform: rotateX(12deg);
	-o-transform: rotateX(12deg);
	transform: rotateX(12deg);
}

#doc-types .create-resume{
	position: absolute;
	top: 42%;
	left: 33%;
	background-color: #303d46;
	color: #f4f5f6;
	padding: 7px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	display: none;
}

/*#doc-types .sub-img1{
	position: absolute;
	top: 25px; 
	left:20px;
	width: 50%;
	height: 50%; 
	z-index: 999
}*/

/*
#doc-types .sub-img2{
	position: absolute;
	top: 25px; 
	right:20px;
	width: 50%;
	height: 50%; 
}

#doc-types .sub-img2:hover {
	transform: rotateX(90deg);
	cursor: pointer;
	transition: 2s
}

#doc-types .sub-img3{
	position: absolute;
	bottom: 0; 
	left:20px;
	width: 50%;
	height: 50%; 
}

#doc-types .sub-img3:hover {
	transform: rotateX(90deg);
	cursor: pointer;
	transition: 2s
}

#doc-types .sub-img4{
	position: absolute;
	bottom: 0; 
	right:20px;
	width: 50%;
	height: 50%; 
}

#doc-types .sub-img4:hover {
	transform: rotateX(90deg);
	cursor: pointer;
	transition: 2s
}*/

@media(max-width: 1240px){
	#doc-types img{
		width: 270px;
		height: 380px
	}
}

@media(max-width: 1120px){
	#doc-types img{
		width: 235px;
		height: 350px
	}
}

@media(max-width: 992px){
	#doc-types img{
		width: 40vw;
		height: 55vw
	}

	#doc-types .doc-hd{
		margin: 0 30px;
	}
}

@media(max-width: 768px){
	#doc-types .doc-hd{
		margin: 0 20px;
	}
}

@media(max-width: 575px){
	#doc-types img{
		width: inherit;
		height: inherit;
	}

	#doc-types .doc-hd{
		margin: 0 0;
	}
}
/*------ end navbar ------*/
/*---------------------------------*/


/*------ end customers ------*/
/*---------------------------------*/
#customers{
	background-color: #313e47;
	color: white;
	padding: 40px 0
}

#customers h2{
	text-align: left;
}

 .bg-star{
	background-color: #00b67a;
	width:35px;
	margin: 0 2px;
	border-radius: 0
	-webkit-border-radius: 0
	-moz-border-radius: 0
	-ms-border-radius: 0
	-o-border-radius: 0
}

.owl-carousel *{
	text-align: left;
	font-size: 0.8rem
}

.owl-carousel .stars{
	font-size: 15px;
}

.owl-carousel i{
	font-size: 12px;
	padding: 2px
}

#customers .customer span{
	background-color: #00b67a;
	color: red
}

.owl-nav{
	text-align: center;
}

.owl-prev span, .owl-next span{
	font-size: 40px;
	margin: 0 15px;
}

@media(max-width: 992px){

}

@media(max-width: 670px){
	#customers h2{
		font-size: 24px
	}
	#customers .btn{
		width: 27px
	}

	#customers .col-md-4 i{
		margin: 0 -5px;
	}
}

@media(max-width: 576px){
	#customers .owl-carousel *{
		text-align: center !important;
	}
}
/*------ end customers ------*/
/*---------------------------------*/


/*------ questions ------*/
/*---------------------------------*/
#questions{
	max-width: 1220px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#questions .question-hd *{
	text-align: left;
	color: #1DBFAF;
	font-weight: 700;
}

#questions .question-hd a:hover{
	text-decoration: underline;
}

#questions .question-brief *{
	text-align: left;
}

#questions .question-brief p{
	font-size: 16px !important
}

@media(max-width: 992px){
	#questions{
		max-width: 800px
	}
}

@media(max-width: 576px){
	#questions .question-hd a{
		font-size: 17px
	}

	#questions .question-brief p{
		font-size: 16px !important
}
}
/*------ end questions ------*/
/*---------------------------------*/


/*------ reviews ------*/
/*---------------------------------*/
#reviews{
	-webkit-background: linear-gradient(to right, #242d33, #30bcad);
	-moz-background: linear-gradient(to right, #242d33, #30bcad);
	-ms-background: linear-gradient(to right, #242d33, #30bcad);
	-o-background: linear-gradient(to right, #242d33, #30bcad);
	background: linear-gradient(to right, #242d33, #30bcad);
	padding: 50px

}
#reviews *{
	text-align: left;
	color: white
}

#reviews img{
	width: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	float: left;
	margin: 10px 20px 0 0
}

#reviews .col-8{
	border-right: 2px solid #fff;
	padding-right: 0px
}

#reviews i{
	padding-left: 20px
}
/*------ end reviews ------*/
/*---------------------------------*/


/*------ more question ------*/
/*---------------------------------*/
#more-q{
	max-width: 1220px;
}

#more-q *{
	text-align: left;
	color: black
}

#more-q p{
	color: #6c757d!important;
}

@media(max-width: 992px){
	#more-q{
		max-width: 800px
	}

	#more-q p{
		font-size: 16px
	}
}
/*------ end more question ------*/
/*---------------------------------*/


/*------ rendom template ------*/
/*---------------------------------*/
#rand-temp{
	background-color: #f4f4f4;
	color: black;
	padding: 30px 0;
}

#rand-temp .btn{
	background-color: #1dbfaf;
	color: #fff;
	letter-spacing: 1px
}

#rand-temp .btn:hover{
	background-color: #fff;
	color: #1dbfaf;
	border: 1px solid #1dbfaf;
}
/*------ end rendom template ------*/
/*---------------------------------*/


/*------ footer-socila-media ------*/
/*---------------------------------*/
#footer-sm{
	background-color: #3c4d58;
	padding: 20px 0
}

#footer-sm a{
	padding: 0 15px
}

#footer-sm a:hover{
	color: #1dbfaf
}
/*------ end footer-socila-media ------*/
/*---------------------------------*/

/*------ footer-nav ------*/
/*---------------------------------*/
#footer-nav{
	background-color: #303d46;
	color: #fff;
	font-size: 13px;
	padding: 30px 0 0px 0
}

#footer-nav *{
	text-align: left;
}

#footer-nav .nav-hd{
	font-size: 15px;
	font-weight: bold;
}

#footer-nav a:hover{
	text-decoration: underline;
}

@media(max-width: 576px){
	#footer-nav *{
		text-align: center;
		font-size: 15px;
		letter-spacing: 1px
	}
}
/*------ end footer-nav ------*/
/*---------------------------------*/

.footer-line{
	width: inherit;
}

@media(max-width: 576px){
	.footer-line{
		height: 40px
	}
}

/*------ end footer-© ------*/
/*---------------------------------*/
#footer-©{
	background-color: #242d33;
	color: white;
	padding: 10px 0
}
#footer-© .line-pre{
	width: 60px;
	margin: 15px auto 15px auto;
}
/*------ end footer-© ------*/
/*---------------------------------*/


/*------ feedback ------*/
/*---------------------------------*/
.feedback{
	position: fixed;
	right: 15px;
	bottom: 80px;
	z-index: 98
}
.feedback img{
	position: relative;
	max-width: 42px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	box-shadow: 2px 0px 3px 2px rgba(0,0,0,.4),
				0px 2px 3px 2px rgba(0,0,0,.4);
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.feedback img:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

.feedback small{
	position: absolute;
	right: 55px;
	top: 5px;
	display: none;
	color: black;
	background-color: #f0f0f0;
	padding: 8px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-size: 13px;
}

.contact{
	position: fixed;
	right: 15px;
	bottom: 20px;
	z-index: 98
}

.contact img{
	position: relative;
	max-width: 42px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	box-shadow: 2px 0px 3px 2px rgba(0,0,0,.4),
				0px 2px 3px 2px rgba(0,0,0,.4);
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.contact img:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

.contact small{
	position: absolute;
	right: 55px;
	top: 5px;
	display: none;
	color: black;
	background-color: #f0f0f0;
	padding: 8px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-size: 13px;
}
/*------ end feedback ------*/
/*---------------------------------*/

	.navbar-vertical{
		width: 300px;
		background-color: #fff;
		padding: 20px 17px;
		-webkit-transform: translate(300px);
		-moz-transform: translate(300px);
		-ms-transform: translate(300px);
		-o-transform: translate(300px);
		transform: translate(300px);
		position: fixed;
		top: 60px;
		right: 0;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		overflow-y: scroll;
		height: 500px;
		opacity: 1 !important;
		z-index: 99;
		color: black
	}

	@media(max-height: 500px){
		.navbar-vertical{
			height: 350px
		}
	}

	@media(min-width: 991px){
		.navbar-vertical{
			display: none;
		}
	}

	@media(max-width: 576px){
		.navbar-vertical{
			top: 56px
		}
	}

	.show{
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
	}

	.navbar-vertical *{
		cursor: pointer;
		font-size: 15px;
		text-align: left !important;
	}

	.navbar-vertical .btn:first-child{
		background-color: #1dbfaf;
		color: #fff;
		margin: 0;
	}

	.navbar-vertical .btn:first-child:hover{
		background-color: #fff;
		color: #1dbfaf;
		border: 1px solid #1dbfaf;
	}

	.navbar-vertical .btn:nth-child(2){
		background-color: #eee;
		display: block;
		margin: 0 auto;
		width: 120px
	}

	.navbar-vertical .btn:nth-child(2):hover{
		border: 1px solid #000;
		background-color: #fff;
	}

	.navbar-vertical ul li{
		list-style: none;
		padding-top: 3px;
		display: none;
	}

	.navbar-vertical i{
		cursor: pointer;
	}

	.navbar-vertical a:hover{
		color: #1dbfaf;
	}

	.navbar-vertical .gmail:hover{
		color: #1dbfaf;
		text-decoration: underline;
	}

